<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live US Weather Map</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Live US Weather Map</h1>
    
    <div id="weather-map"></div>
    
<div id="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graphJSON = {{ graph_json | safe }};
        Plotly.newPlot('chart', JSON.parse(graphJSON).data, JSON.parse(graphJSON).layout);
    </script>

</body>
</html>

